*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.main_body{
    background-color: black;
    display: block;
}
.background_img_div{
    width:100%;
    height: 100%;

}
.background_img{
    opacity:.6;
    width: 1440px;
    height: 100%;
    position:relative;
    
    
}
.outer_box_first_div{
    width: 806px;
    height: 572px;
    /* outline:.8px solid rgb(226, 222, 222); */
    position:absolute;
    top:108px;
    left:320px;
    border-radius: 30px;
    backdrop-filter: blur(18px) saturate(80%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background: rgba(42, 41, 41, 0.1);


    
}

.inner_nav_outer_div{
    margin:20px 20px;
    
}

.navbar_div{
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: 1fr 2fr 5fr  2fr;
    /* outline: .5px solid rgb(181, 181, 188); */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(3px) saturate(180%);
    background: rgba(83, 81, 81, 0.1);
    border-radius:15px;
    width:100%;
    height: 50px;
    

}
.user_name_div{
font-size: 14px;
font-weight: 400;
color:white;
display: grid;

}
.user_name_div{
    font-size: 14px;
    font-weight: 300;
    text-align: start;
}
.user_name_span{
    font-size: 8px;
    font-weight: 100;
    padding-left:10px;
}
.input_box_div{
    width: 270px;
    background-color:rgb(91, 87, 87);
    border-radius: 40px;
    outline:none;
    
    height: 30px;
    margin-left:20px;
    opacity: .7;
   
}
.input_box_input{
    background:transparent;
    color:white;
    /* outline: 2px solid black; */
    position:relative;
    left:-30px;
    top:4px;
    outline:none;
    text-emphasis-color: white;
    
}
.search_icon_svg{
   position:relative;
   top:6px;
   left:30px;
   padding-top:2px;
   
}
.icons_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
    width:100px;
    height: 50px;
    align-items:center;
    margin-left:40px;
}


/* .vedio_img_main_div{
    margin:20px 20px;
} */
.vedio_andimg_main_second_div{
    margin:20px 10px;
    display:grid;
    grid-template-columns: 5fr 4fr;
    justify-content: center;


}


.vedio_first_div{
   display: grid;
   width:400px;
   height: 200px;
   overflow:hidden;
   margin-left:50px;
   border-radius:10px;
  
   

   
    
}
.vedio_main_second_div_first_vedio{
   width: 100%;
   height: 100%;
   position:relative;
   
   
    
}

.controls{
    width: 460px;
    height: 60px;
    margin-top:30px;
    margin-left:20px;
   

}
.icons{
    height: 50px;
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items:center;
    place-items:center;
    backdrop-filter: blur(12px) saturation(120%);
    -webkit-backdrop-filter: blur(12px) saturate(120%);
    background: rgba(42, 41, 41, 0.1);
    /* border:.01px solid rgb(207, 204, 204); */
    border-radius: 10px;
}

.snippet_vedioandsnippets{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(3px) saturate(180%);
    background: rgba(74, 73, 73, 0.1);
    border-radius: 5px;
    width:100%;
    height: 40px;
 
}
.snippet_vedioandsnippets::after{
    position:absolute;
    content:"";
    width:0;
    left:0;
    bottom:0;
    height: 2px;
    background-color: beige;
    border-radius: .2mm;
    animation:progress 15s linear infinite;

}
@keyframes progress{
    to{
        width: 100%;
    }
}
.material-icons-round{
    margin-right: 10px;
    cursor: pointer;
   
}
.snippet_image_div img{
    width: 35px;
    height: 35px;
    border-radius: 2px;
    margin-left:10px;
    margin-top:3px;
    
}
.snippet_vedio{
    font-size: 12px;
    font-weight: 700;
    
}
.snippets{
    font-size:10px;
    position:relative;
    top:-4px;
}

/* list starts here */

.list_section{
margin:10px;

}
.list_section_headings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(18px) saturate(80%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background: rgba(91, 91, 91, 0.1);
    /* background-color: rgb(128, 125, 125); */
    width:100%;
    height: 40px;
    border-radius: 15px;
    padding:10px;
    color:white;
}
.watch_here_div{
       backdrop-filter: blur(18px) saturate(80%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background: rgba(185, 185, 185, 0.1);
    margin:5px;
    border-radius: 10px;
    padding-bottom:5px;
}
.watch_here_span{
    font-size: 12px;
    margin:10px;
    
}
.watch_here_a{
    text-decoration:none;
    color:white;
}

.related_div{
    /* backdrop-filter: blur(18px) saturate(80%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background: rgba(42, 41, 41, 0.1); */
    border-radius: 10px;
    padding-bottom:5px;
    
}
.related_span{
    font-size: 12px;
    margin:5px;
  
}
.trending_div{
    /* backdrop-filter: blur(18px) saturate(80%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background: rgba(58, 57, 57, 0.1); */
    margin:5px;
    border-radius: 10px; 
    padding-bottom:5px;
}
.trendings_span{
    font-size: 12px;
    margin:5px;
   
}

.list_section_sub_headings{
    margin:10px;
}

.list_section_sub_headings_content_div{
    margin-top:10px;
    margin-bottom:10px;
    /* margin-left:10px; */
    /* outline:1px solid white; */
    
}

.upcomeing_vedios_div{
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    color:white;
    font-family:sans-serif;
    backdrop-filter: blur(18px) saturate(80%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    background: rgba(60, 59, 59, 0.1);
    padding:10px;
    border-radius:10px;
    margin:10px 0px;
}
.upcomeing_vedios_img{
    width: 40px;
    height: 40px;
    border-radius:5px;
}
.upcomeing_vedios_name{
    font-size: 12px;
    font-weight: 700;
}
.upcomeing_vedios_author{
    font-size: 10px;
    font-weight: 300;
}
.view_and_count_div{
    font-size: 6px;
    
}
.bolume_button{
    background:transparent;
}

.trending_div_a{
    text-decoration: none;
    color:white;
}
.trending_div:hover,.related_div:hover{
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    background: rgba(0, 0, 0, 0.1);
    margin:5px;
    border-radius: 10px;
    padding-bottom:5px;
}