*{
    margin:0;
    border:0;
    outline: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Okra, Helvetica, sans-serif;

}
.navbar_div{
    display: flex;
    margin:0 270px;
    padding:20px 0px;
    justify-content:flex-end;
    align-items: center;
    position: relative;
    
    
}
.navbar_elements{
    margin-bottom:2px;
    margin-right:20px;
    background: transparent;
    height: 72px;
    list-style: none;
    font-size: 18px;
    color:white;
    text-decoration: none;
    font-weight: 400;
    opacity: 1;

}
.backgroundimg{
    position: absolute;
    top:0px;
    z-index: -1;
    height: 600px;
    width: 100%;
    height: 66%;
    opacity: 2;
}

.first_section{
    position: absolute;
    bottom:50%;
    width:100%;
    text-align:center;
}
.first_section_zomato_logo{
    height: 60px;
    margin-bottom: 30px;
}
.zomato_logo{
    height: 60px; 
}
.first_section_heading{
display: flex;
flex-wrap: wrap;
margin:0 auto;
width: 548px;
height: auto;
text-align: center;

}
.first_section_writing{
    line-height: 43.2px;
    font-size: 36px;
    color:white;
    font-weight: 400;
   
}
.second_section_first_div{
    position:relative;
    top:440px;
    left:0px;
    margin:0 170px;
}
.second_section_popularlocation_div{
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag_img{
    width: 50px;
    height: 35px;
}
.location_div,.flag_image_div,.inida_div{
    margin-right:10px;
}
.location_div_h2{
    line-height: 1.4;
    font-size: 2.6rem;
    font-weight: 400;
}
.india_div_h2{
    line-height: 1.2;
    font-size:2.6rem;
    font-weight: 500;
}
.second_section_paragraphs_div{
    margin-top:20px;
    display: flex;
    justify-content:end;
    max-width: 55rem;
}
.second_section_p{
    position: relative;
    left:100px;
    font-size: 1.3rem;
    line-height: 140%;
    font-weight: 100;
    color: rgb(105, 105, 105);
    max-width: 1020px;
    text-align: center;
}
.restaurants_city_maindiv{
    margin-top:75px;
}
.restaurants_city_second_maindiv2{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    
}
.restaurants_city_second_div{
    width:353px;
    height: 66px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:7px;
    padding-left:25px;
    border:.10px solid rgb(229, 224, 224);
    /* border:1px solid rgb(226, 222, 222); */
    margin-right: 2px;
    margin-bottom:35px;
    border-radius:10px;
    box-shadow: rgba(28, 28, 28, 0.08) .5px 1.42623px 2.85246px 2px;
}
.restaurants_orginal_a{
   display: flex;
   justify-content: space-between;
   align-items: center;
    text-decoration:none;
    color:black;
    font-size:20px;
    font-weight: 300;
}

.arrow_icon{
    display: block;
    width:20px;
    height: 20px;
    margin-right: 20px;
}

/* citynames and restaurants end here */

/* countries start here */
.countries_margindiv{
    margin-left:170px;
    margin-right: 170px;
}
.countries_main_div{
    margin-top:20px;
    margin-bottom:20px;
    /* outline: 2px solid black; */
}
.countries_div_first_h2{
    font-size:2.6rem;
    font-weight: 400;
    line-height: 1.2;
}
.countries_list_first_div{
    margin-top:30px;
}

.countries_box{
    margin-bottom:20px;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.countries_box_first_div{
    width:353px;
    height: 74px;
    margin-bottom:40px;
    margin-right: 13px;
    border: 1px solid rgb(232, 232, 232);
    /* box-shadow: 2px 2px 5px 2px rgba(28, 28, 28, 0.08); */
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2.42623px 2.85246px;
    border-radius: 10px;
}
.countries_box_first_div:hover{
    box-shadow: 2px 2px 8px 5px rgb(210, 209, 209);
    transform: translatey(.5px);
    width: 354px;
    height: 76px;
    transition: .2s ease;
    }
.countries_flag_image{
    width: 60px;
    height: 40px;
    margin-right: 10px;
}
.country_name{
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 300;
    flex:1;

}
.countries_box_arrow_svg{
    flex:.2;
}
.countries_list_second_div{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

/* footer starts here */

.footer_main_div{
    position: relative;
    bottom:-425px;
    display: flex;
    justify-content: center;
    position: relative;
    background: rgb(248, 248, 248);
    /* outline:2px solid black; */
}
.footer_second_div{
    padding-top:48px;
    padding-bottom:22px;
    /* outline:2px solid red; */
    width:1100px;
 
}
.footer_second_div_firstpartition{
display:flex;
justify-content: space-between;
max-height: 38px;
margin-bottom:40px;
}

.footer_zomato_logo{
    margin-right: 650px;
}
.footer_firstpartition_country_select{
    width: 110px;
    height: 30px;
    padding-left:27px;
    background:transparent;
    font-size: 16px;
    margin-right: 5px;
    font-weight: 400;
    font-weight: 300;
    
}
.footer_firstpartition_countryselect_button{
    border:.5px solid black;
    position: relative;
    background-color: white;
    border-radius: 7px;
    
}
.footer_flag{
    position: absolute;
    left:5px;
    top:11px;
    width: 20px;
    height: 16px;  
}

.footer_firstpartition_lang_button{
    border: .5px solid black;
    border-radius:7px;
    background-color:white;
    padding-right: 10px;
}
.footer_firstpartition_language_select{
    width:100px;
    height: 30px;
    background:transparent;
    font-size: 16px;
    font-weight: 400;
    font-weight: 300;
    margin-left:10px;
}
.footer_second_div_secondpartition{
    display: flex;
    justify-content:space-between;
    padding-bottom:40px;
    border-bottom:1px solid  rgb(207, 207, 207);
}

.app_store_image,.play_store_image{
    width: 137px;
    height: 39px;
}
.footer_secondpartition_words{
    font-size: 14px;
    font-weight: 400;
    line-height:2.1rem;
    color: rgb(105, 105, 105);
    margin:0.5rem 0;
}
.footer_secondpartition_words1{
    font-size: 16px;
    font-weight: 500;
    line-height: 2.1rem;
}
.footer_secondpartition_words12{
    font-size: 16px;
    font-weight: 500;
    line-height: 2.1rem;
    margin-bottom:15px;
    color:black;
    
}
.footer_secondpartition_forenterpris{
    margin-top:50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.1rem;
    margin-bottom:10px;
}

.last_para{
    font-size:13px;
    color: rgb(79, 79, 79);
    line-height: 1.7;
    margin-top:23px;
    margin-bottom:1px;
    font-weight: 100;
}
