*{
    box-sizing: border-box;
}
.first_sectoin_welcome{
    font-size: 89px;
   
}

.carousel{
    top:-80px;
}
.navbar{
   z-index: 2;
}
.first_section_right_p{
    text-align:justify;
}
.first_sectoin_second_p{
    text-align: justify;
}
.third_carousel_div{
    position:absolute;
    top:30%;
    left:10%;
    color:white;
    width: 100%;
    display: inline-block;
    
    

}
.carousel-image{
 object-fit: cover;
}
.carousel{
    max-width: 1600px;
    margin:0 auto;
}
@media (max-width:1209px){
   .third-sectoin-contents{
    font-size: 18px;
    min-width: 400px;
   }
   .carousel-image{
    min-height: 400px;
   }
}
@media (max-width:610px){
    .third-sectoin-contents{
        font-size: 14px;
        min-width:200px;
        
    }
    .third_carousel_div{
        top:45%;
    }
}

/* third section starts here */

.third_section_h1{
    font-weight: 500;

}